<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="Askbootstrap">
   <meta name="author" content="Askbootstrap">
   <title>Edulive Aid by Artissance</title>
   <!-- Favicon Icon -->
   <link rel="icon" type="image/png" href="img/favicon.png">
   <!-- Bootstrap core CSS-->
   <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <!-- Custom fonts for this template-->
   <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
   <!-- Custom styles for this template-->
   <!-- <link id= href="css/osahan.css" rel="stylesheet"> -->
   <link id="pagestyle" rel="stylesheet" type="text/css" href="css/osahan.css">
   <script>
      function swapStyleSheet(sheet) {
         document.getElementById('pagestyle').setAttribute('href', sheet);
      }
   </script>
   <!-- Owl Carousel -->
   <link rel="stylesheet" href="vendor/owl-carousel/owl.carousel.css">
   <link rel="stylesheet" href="vendor/owl-carousel/owl.theme.css">
</head>

<body id="page-top">
   <nav class="navbar navbar-expand navbar-light bg-white static-top osahan-nav sticky-top">
      &nbsp;&nbsp;
      <button class="btn btn-link btn-sm text-secondary order-1 order-sm-0" id="sidebarToggle">
         <i class="fas fa-bars"></i>
      </button> &nbsp;&nbsp;
      <a class="navbar-brand mr-1" href="index.html"><img class="img-fluid" alt="" src="img/logo.png"></a>
      <!-- Navbar Search -->
     <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-5 my-2 my-md-0 osahan-navbar-search">
         <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <div class="input-group-append">
               <button class="btn btn-light" type="button">
                  <i class="fas fa-search"></i>
               </button>
            </div>
         </div>
         
      </form>
      <button onclick="swapStyleSheet('css/dark.css')" id="themedark">Dark</button>
      <h6>&nbsp</h6>
      <button onclick="swapStyleSheet('css/osahan.css')" id="themelight">Light</button>
      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0 osahan-right-navbar">
         <li class="nav-item mx-1">
            <a class="nav-link" href="upload.html">
               <i class="fas fa-plus-circle fa-fw"></i>
               Upload Resources
            </a>
         </li>
         <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
               <i class="fas fa-bell fa-fw"></i>
               <span class="badge badge-danger">9+</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
               <a class="dropdown-item" href="#"><i class="fas fa-fw fa-edit "></i> &nbsp; Action</a>
               <a class="dropdown-item" href="#"><i class="fas fa-fw fa-headphones-alt "></i> &nbsp; Another action</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star "></i> &nbsp; Something else here</a>
            </div>
         </li>
         <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
               <i class="fas fa-envelope fa-fw"></i>
               <span class="badge badge-success">7</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
               <a class="dropdown-item" href="#"><i class="fas fa-fw fa-edit "></i> &nbsp; Action</a>
               <a class="dropdown-item" href="#"><i class="fas fa-fw fa-headphones-alt "></i> &nbsp; Another action</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star "></i> &nbsp; Something else here</a>
            </div>
         </li>
         <li class="nav-item dropdown no-arrow osahan-right-navbar-user">
            <a class="nav-link dropdown-toggle user-dropdown-link" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <img alt="Avatar" src="img/user.png">
               Prof. Swagata Banerjee
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
               <a class="dropdown-item" href="account.html"><i class="fas fa-fw fa-user-circle"></i> &nbsp; My
                  Account</a>
               <a class="dropdown-item" href="subscriptions.html"><i class="fas fa-fw fa-video"></i> &nbsp; Add a
                  Meeting</a>
               <a class="dropdown-item" href="settings.html"><i class="fas fa-fw fa-cog"></i> &nbsp; Settings</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="signup/index.html" data-toggle="modal" data-target="#logoutModal"><i
                     class="fas fa-fw fa-sign-out-alt"></i> &nbsp; Logout</a>
            </div>
         </li>
      </ul>
   </nav>
   <div id="wrapper">
      <!-- Sidebar -->

      <ul class="sidebar navbar-nav">

         <li class="nav-item active">
            <a class="nav-link" href="index.html">
               <i class="fas fa-fw fa-home"></i>
               <span>Home</span>
            </a>
         </li>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="categories.html" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
               <i class="fas fa-fw fa-list-alt"></i>
               <span>Online Tutorials</span>
            </a>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="#subjects">For Google Meet - English</a>
               <a class="dropdown-item" href="#meet_english">For Google Meet - Hindi</a>
               <a class="dropdown-item" href="#meet_hindi">For Google Meet - Benagli</a>
               <a class="dropdown-item" href="#meet_bengali">For Teams & Zoom</a>
               <a class="dropdown-item" href="#teams_zoom">University Suggested Videos</a>
            </div>
         </li>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="categories.html" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
               <i class="fa fa-puzzle-piece"></i>
               <span>Extensions</span>
            </a>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="https://chrome.google.com/webstore/category/extensions?hl=en" target="_blank">For Google
                  Chrome</a>
               <a class="dropdown-item" href="https://chrome.google.com/webstore/search/google%20meet?hl=en" target="_blank">For Google
                  Meet</a>
               <a class="dropdown-item" href="https://chrome.google.com/webstore/search/microsoft%20teams?hl=en" target="_blank">For
                  Microsoft Teams</a>
               <a class="dropdown-item"
                  href="https://chrome.google.com/webstore/detail/zoom-scheduler/kgjfgplpablkjnlkjmjdecgdpfankdle?hl=en" target="_blank">For
                  Zoom</a>
               <a class="dropdown-item"
                  href="https://chrome.google.com/webstore/search/google%20docs?hl=en&_category=extensions" target="_blank">For Google
                  Docs</a>
               <a class="dropdown-item"
                  href="https://chrome.google.com/webstore/search/google%20sheets?hl=en&_category=extensions" target="_blank">For Google
                  Sheets</a>
               <a class="dropdown-item"
                  href="https://chrome.google.com/webstore/search/google%20slides?hl=en&_category=extensions" target="_blank">For Google
                  Slides</a>
               <a class="dropdown-item" href="https://workspace.google.com/marketplace/app/autocrat/539341275670" target="_blank">For
                  Automated Certificate</a>
            </div>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="live_demo.html">
               <i class="fas fa-fw fa-video"></i>
               <span>Live Demo</span>
            </a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="faq.html">
               <i class="fas fa-question-circle"></i>
               <span>&nbspFAQ</span>
            </a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="upload-video.html">
               <i class="fas fa-fw fa-cloud-upload-alt"></i>
               <span>Upload Resources</span>
            </a>
         </li>
         <li class="nav-item channel-sidebar-list">
            <ul>
               <li>
                  <a href="#subjects">
                     <img class="img-fluid" alt="" src="img/subjects.png">Subjects
                  </a>
               </li>
               <li>
                  <a href="https://snuniv.ac.in" target="_blank">
                     <img class="img-fluid" alt="" src="img/snu.png">SNU Website
                  </a>
               </li>
            </ul>
         </li>
         <li class="nav-item channel-sidebar-list">
            <h6>CREATE VIDEO MEETING</h6>
            <ul>
               <li>
                  <a href="https://calendar.google.com/calendar/u/0/r/eventedit?vcon=meet&dates=now&hl=en.html"
                     target="_blank">
                     <img class="img-fluid" alt="" src="img/meet.png">Google Meet
                  </a>
               </li>
               <li>
                  <a href="https://teams.microsoft.com/_#/scheduling-form/?opener=1&navCtx=new-meeting-button&calendarType=User.html"
                     target="_blank">
                     <img class="img-fluid" alt="" src="img/teams.png">Microsoft Teams<span
                        class="badge badge-warning">2</span>
                  </a>
               </li>
               <li>
                  <a href="https://zoom.us/meeting/schedule" target="_blank">
                     <img class="img-fluid" alt="" src="img/zoom.png">Zoom
                  </a>
               </li>
            </ul>
         </li>
         <li class="nav-item channel-sidebar-list">
            <h6>MANAGE CLASSES</h6>
            <ul>
               <li>
                  <a href="https://whiteboard.fi/#!" target="_blank">
                     <img class="img-fluid" alt="" src="img/WB-1.webp">Whiteboard.fi
                  </a>
               </li>
               <li>
                  <a href="https://lms.snuindia.in/" target="_blank">
                     <img class="img-fluid" alt="" src="img/lms.png">LMS Moodle
                  </a>
               </li>
               <li>
                  <a href="https://classroom.google.com/u/0/h" target="_blank">
                     <img class="img-fluid" alt="" src="img/gc.png">Google Classroom
                  </a>
               </li>
            </ul>
         </li>
         <li class="nav-item channel-sidebar-list">
            <h6>MANAGE CLASSES</h6>
            <ul>
               <li>
                  <a href="https://docs.google.com/document/u/0/" target="_blank">
                     <img class="img-fluid" alt="" src="img/docs.png">Google Docs
                  </a>
               </li>
               <li>
                  <a href="https://docs.google.com/spreadsheets/u/0/" target="_blank">
                     <img class="img-fluid" alt="" src="img/sheets.png">Google Sheets
                  </a>
               </li>
               <li>
                  <a href="https://docs.google.com/presentation/u/0/" target="_blank">
                     <img class="img-fluid" alt="" src="img/slides.png">Google Slides
                  </a>
               </li>
               <li>
                  <a href="https://docs.google.com/forms/u/0/" target="_blank">
                     <img class="img-fluid" alt="" src="img/forms.png">Google Forms
                  </a>
               </li>
               <li>
                  <a href="https://app.diagrams.net/" target="_blank">
                     <img class="img-fluid" alt="" src="img/flowchart.jpg">Google Flowchart
                  </a>
               </li>
            </ul>
         </li>
         <li class="nav-item channel-sidebar-list">
            <h6>MANAGE CALENDAR</h6>
            <ul>
               <li>
                  <a href="https://calendar.google.com/calendar/u/0/r" target="_blank">
                     <img class="img-fluid" alt="" src="img/calendar.png">Google Calendar
                  </a>
               </li>
               <li>
                  <a href="https://outlook.office.com/calendar/view/month?state=0.html" target="_blank">
                     <img class="img-fluid" alt="" src="img/outlookcalendar.png">Microsoft Calendar
                  </a>
               </li>
               <li>
                  <a href="https://outlook.office.com/calendar/view/month?state=0.html" target="_blank">
                     <img class="img-fluid" alt="" src="img/BLANK_ICON.png">&nbsp; </a>
               </li>
               <li>
                  <a href="https://outlook.office.com/calendar/view/month?state=0.html" target="_blank">
                     <img class="img-fluid" alt="" src="img/BLANK_ICON.png">&nbsp; </a>
               </li>
            </ul>
         </li>
      </ul>
         <div id="content-wrapper">
            <div class="container-fluid">
               <!-- Contact Us -->
      <section class="section-padding">
         <div>
            <div class="row">
               <div class="col-lg-4 col-md-4">
                  <h3 class="mt-1 mb-4">Get In Touch</h3>
                  <h6 class="text-dark">Address :</h6>
                  <p>DG 1/2, Action Area - 1, Newtown, Kolkata - 700156</p>
                  <h6 class="text-dark">Phone :</h6>
                  <p>+91 74074 39871 (+91) 863 789 5846</p>
                  <h6 class="text-dark">Mobile :</h6>
                  <p>+91 74074 39871 (+91) 863 789 5846</p>
                  <h6 class="text-dark">Email :</h6>
                  <p>teamartissance@gmail.com, sagnikmitra123@gmail.com</p>
                  <h6 class="text-dark">Website :</h6>
                  <p>www.artissance.github.io</p>
     
               </div>
               <div class="col-lg-8 col-md-8">
                  <div class="card">
                     <div class="card-body">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d58944.035779649676!2d88.44131298638374!3d22.57901968723276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m5!1s0x3a027549797dfea7%3A0x223730e3d1975f3!2sSISTER%20NIVEDITA%20UNIVERSITY%2C%20DG%20Block(Newtown)%2C%20Action%20Area%20I%2C%20Newtown%2C%20New%20Town%2C%20West%20Bengal!3m2!1d22.579023499999998!2d88.4764182!4m0!5e0!3m2!1sen!2sin!4v1606443717884!5m2!1sen!2sin" width="100%" height="340" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Contact Us -->
      <hr>
      <!-- Contact Me -->
      <section class="section-padding">
         <div>
            <div class="row">
               <div class="col-lg-12 col-md-12 section-title text-left mb-4">
                  <h2>Contact Us</h2>
               </div>
               <form class="col-lg-12 col-md-12" name="sentMessage" id="contactForm" novalidate>
                  <div class="control-group form-group">
                     <div class="controls">
                        <label>Full Name <span class="text-danger">*</span></label>
                        <input type="text" placeholder="Full Name" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                        <p class="help-block"></p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="control-group form-group col-md-6">
                        <label>Phone Number <span class="text-danger">*</span></label>
                        <div class="controls">
                           <input type="tel" placeholder="Phone Number" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                        </div>
                     </div>
                     <div class="control-group form-group col-md-6">
                        <div class="controls">
                           <label>Email Address <span class="text-danger">*</span></label>
                           <input type="email" placeholder="Email Address"  class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
                        </div>
                     </div>
                  </div>
                  <div class="control-group form-group">
                     <div class="controls">
                        <label>Message <span class="text-danger">*</span></label>
                        <textarea rows="4" cols="100" placeholder="Message"  class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                     </div>
                  </div>
                  <div id="success"></div>
                  <!-- For success/fail messages -->
                  <button type="submit" class="btn btn-success">Send Message</button>
               </form>
            </div>
         </div>
      </section>
      <!-- End Contact Me -->
            </div>
            <!-- /.container-fluid -->
            <!-- Sticky Footer -->
            <footer class="sticky-footer">
               <div class="container">
                  <div class="row no-gutters">
                     <div class="col-lg-6 col-sm-6">
                        <p class="mt-1 mb-0">&copy; Copyright 2020 <strong class="text-dark">Team Artissance</strong>. All Rights
                           Reserved<br>
                           <small class="mt-0 mb-0">Made with <i class="fas fa-heart text-danger"></i> by <a
                                 class="text-primary" target="_blank" href="https://instagram.com/teamartissance">Team Artissance</a>
                           </small>
                        </p>
                     </div>
                     <div class="col-lg-6 col-sm-6 text-right">
                        <div class="">
                           <a href="#"><img alt="" src="img/logo.png"></a>
                        </div>
                     </div>
                  </div>
               </div>
            </footer>
         </div>
      <!-- /#wrapper -->
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
      </a>
      <!-- Logout Modal-->
      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                  </button>
               </div>
               <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
               <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                  <a class="btn btn-primary" href="login/index.html">Logout</a>
               </div>
            </div>
         </div>
      </div>
      <!-- Bootstrap core JavaScript-->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Core plugin JavaScript-->
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
      <!-- Owl Carousel -->
      <script src="vendor/owl-carousel/owl.carousel.js"></script>
      <!-- Custom scripts for all pages-->
      <script src="js/custom.js"></script>
   </body>
</html>