<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Askbootstrap">
    <meta name="author" content="Askbootstrap">
    <title>Edulive Aid by Artissance</title>
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="img/favicon.png">
    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <!-- <link id= href="css/osahan.css" rel="stylesheet"> -->
    <link id="pagestyle" rel="stylesheet" type="text/css" href="css/light.css">
    <script>
        function swapStyleSheet(sheet) {
            document.getElementById('pagestyle').setAttribute('href', sheet);
        }
    </script>
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="vendor/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="vendor/owl-carousel/owl.theme.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-expand navbar-light bg-white static-top osahan-nav sticky-top">
        &nbsp;&nbsp;
        <button class="btn btn-link btn-sm text-secondary order-1 order-sm-0" id="sidebarToggle">
         <i class="fas fa-bars"></i>
      </button> &nbsp;&nbsp;
        <a class="navbar-brand mr-1" href="index.html"><img class="img-fluid" alt="" src="img/logo.png"></a>
        <!-- Navbar Search -->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-5 my-2 my-md-0 osahan-navbar-search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <div class="input-group-append">
                    <button class="btn btn-light" type="button">
                  <i class="fas fa-search"></i>
               </button>
                </div>
            </div>

        </form>
        <button onclick="swapStyleSheet('css/dark.css')" id="themedark">Dark</button>
        <h6>&nbsp</h6>
        <button onclick="swapStyleSheet('css/osahan.css')" id="themelight">Light</button>
        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0 osahan-right-navbar">
            <li class="nav-item mx-1">
                <a class="nav-link" href="upload.html">
                    <i class="fas fa-plus-circle fa-fw"></i> Upload Resources
                </a>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                    <span class="badge badge-danger">9+</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-edit "></i> &nbsp; Action</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-headphones-alt "></i> &nbsp; Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star "></i> &nbsp; Something else here</a>
                </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-envelope fa-fw"></i>
                    <span class="badge badge-success">7</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-edit "></i> &nbsp; Action</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-headphones-alt "></i> &nbsp; Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star "></i> &nbsp; Something else here</a>
                </div>
            </li>
            <li class="nav-item dropdown no-arrow osahan-right-navbar-user">
                <a class="nav-link dropdown-toggle user-dropdown-link" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img alt="Avatar" src="img/user.png"> Prof. Swagata Banerjee
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="account.html"><i class="fas fa-fw fa-user-circle"></i> &nbsp; My
                  Account</a>
                    <a class="dropdown-item" href="subscriptions.html"><i class="fas fa-fw fa-video"></i> &nbsp; Add a
                  Meeting</a>
                    <a class="dropdown-item" href="settings.html"><i class="fas fa-fw fa-cog"></i> &nbsp; Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="signup/index.html" data-toggle="modal" data-target="#logoutModal"><i
                     class="fas fa-fw fa-sign-out-alt"></i> &nbsp; Logout</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="wrapper">
        <!-- Sidebar -->

        <ul class="sidebar navbar-nav">

            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="categories.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-list-alt"></i>
                    <span>Online Tutorials</span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#subjects">For Google Meet - English</a>
                    <a class="dropdown-item" href="#meet_english">For Google Meet - Hindi</a>
                    <a class="dropdown-item" href="#meet_hindi">For Google Meet - Benagli</a>
                    <a class="dropdown-item" href="#meet_bengali">For Teams & Zoom</a>
                    <a class="dropdown-item" href="#teams_zoom">University Suggested Videos</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="categories.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-puzzle-piece"></i>
                    <span>Extensions</span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="https://chrome.google.com/webstore/category/extensions?hl=en" target="_blank">For Google
                       Chrome</a>
                    <a class="dropdown-item" href="https://chrome.google.com/webstore/search/google%20meet?hl=en" target="_blank">For Google
                  Meet</a>
                    <a class="dropdown-item" target="_blank">For
                  Microsoft Teams</a>
                    <a class="dropdown-item" href="https://chrome.google.com/webstore/detail/zoom-scheduler/kgjfgplpablkjnlkjmjdecgdpfankdle?hl=en" target="_blank">For
                       Zoom</a> class="dropdown-item" href="https://chrome.google.com/webstore/search/google%20docs?hl=en&_category=extensions" target="_blank">For G Docs</a>
                    <a class="dropdown-item" href="https://chrome.google.com/webstore/search/google%20sheets?hl=en&_category=extensions" target="_blank">For Google
                      Sheets</a>
                    <a class="dropdown-item" href="https://chrome.google.com/webstore/search/google%20slides?hl=en&_category=extensions" target="_blank">For Google
                       Slides</a>
                    <a class="dropdown-item" href="https://workspace.google.com/marketplace/app/autocrat/539341275670" target="_blank">For
                     Automated Certificate</a>
                </div>
                </l i>
                <li cl ass="nav-item">
                    <a class="nav-link" href="live_demo.html">
                        <i class="fas fa-fw fa-video"></i>
                        <span>Live Demo</span>
                    </a>
                    </l i>
                    <li cl ass="nav-item">
                        <a class="nav-link" href="faq.html">
                            <i class="fas fa-question-circle"></i>
                            <span>&nbspFAQ</span>
                        </a>
                        </l i>
                        <li cl ass="nav-item">
                            <a cla ss="nav-link" href="upload-video.html">
                                <i cla ss="fas fa-fw fa-cloud-upload-alt"></i>
                                <sp an>Upload Resources</span>
                            </a>
                        </li>
                        <li class="nav-item channel-sidebar-list">
                            <ul>
                                <li>
                                    <a href="#subjects">
                                        <img class="img-fluid" alt="" src="img/subjects.png">Subjects
                                    </a>
                                </li>
                                <li>
                                    <a href="https://snuniv.ac.in" target="_blank">
                                        <img class="img-fluid" alt="" src="img/snu.png">SNU Website
                                    </a>
                            </ul>
                            </li>
                            <li class="nav-item channel-sidebar-list">
                                <h6>CREATE VIDEO MEETING</h6>
                                <ul>
                                    <a href="https://calendar.google.com/calendar/u/0/r/eventedit?vcon=meet&drget=" _blank ">
                           <img class="img-fluid " alt=" " src="img/meet.png ">Google Meet
                       </a>
                    </li>
                     <li>
                         <a href="https://teams.microsoft.com/_#/scheduling-form/?opener=1&navCtx=new-meeting-button&calendarType=User.html "
                           target="_blank ">
                          <img class="img-fluid " alt=" " src="img/teams.png ">Microsoft Teams<span
                            class="badge badge-warning ">2</span>
                     </a>
                  </li>
                   <li>
                      <a href="https://zoom.us/meeting/schedule " target="_blank ">
                          <img class="img-fluid " alt=" " src="img/zoom.png ">Zoom
                        </a>
                      </li>
                  </ul>
              </li>
              <li class="nav-item channel-sidebar-list ">
                  <h6>MANAGE CLASSES</h6>
                   <ul>
                     <li>
                       <a href="https://whiteboard.fi/#! " target="_blank ">
                          <img class="img-fluid " alt=" " src="img/WB-1.webp ">Whiteboard.fi
                        </a>
                      </li>
                     <li>
                       <a href="https://lms.snuindia.in/ " target="_blank ">
                         <img class="img-fluid " alt=" " src="img/lms.png ">LMS Moodle
                     </a>
                  </li>
                   <li>
                      <a href="https://classroom.google.com/u/0/h " target="_blank ">
                          <img class="img-fluid " alt=" " src="img/gc.png ">Google Classroom
                        </a>
                      </li>
                  </ul>
              </li>
              <li class="nav-item channel-sidebar-list ">
                  <h6>MANAGE CLASSES</h6>
                   <ul>
                     <li>
                       <a href="https://docs.google.com/document/u/0/ " target="_blank ">
                          <img class="img-fluid " alt=" " src="img/docs.png ">Google Docs
                        </a>
                      </li>
                     <li>
                       <a href="https://docs.google.com/spreadsheets/u/0/ " target="_blank ">
                          <img class="img-fluid " alt=" " src="img/sheets.png ">Google Sheets
                        </a>
                      </li>
                     <li>
                       <a href="https://docs.google.com/presentation/u/0/ " target="_blank ">
                          <img class="img-fluid " alt=" " src="img/slides.png ">Google Slides
                        </a>
                      </li>
                     <li>
                       <a href="https://docs.google.com/forms/u/0/ " target="_blank ">
                         <img class="img-fluid " alt=" " src="img/forms.png ">Google Forms
                     </a>
                  </li>
                   <li>
                      <a href="https://app.diagrams.net/ " target="_blank ">
                          <img class="img-fluid " alt=" " src="img/flowchart.jpg ">Google Flowchart
                        </a>
                      </li>
                  </ul>
              </li>
              <li class="nav-item channel-sidebar-list ">
                  <h6>MANAGE CALENDAR</h6>
                   <ul>
                     <li>
                       <a href="https://calendar.google.com/calendar/u/0/r " target="_blank ">
                          <img class="img-fluid " alt=" " src="img/calendar.png ">Google Calendar
                        </a>
                      </li>
                    <li>
                       <a href="https://outlook.office.com/calendar/view/month?state=0.html " target="_blank ">
                           <img class="img-fluid " alt=" " src="img/outlookcalendar.png ">Microsoft Calendar
                         </a>
                    </li>
                   <li>
                     <a href="https://outlook.office.com/calendar/view/month?state=0.html " target="_blank ">
             
         <img class="img-fluid " alt=" " src="img/BLANK_ICON.png ">&nbsp; </a>
               </li>
                <li>
                   <a href="https://outlook.office.com/calendar/view/month?state=0.html " target="_blank ">
                       <img class="img-fluid " alt=" " src="img/BLANK_ICON.png ">&nbsp; </a>
                 </li>
               </ul>
            </li>
         </ul>
         <div id="content-wrapper ">
           <div class="container-fluid upload-details ">
             <div class="row ">
               <div class="col-lg-12 ">
                  <div class="main-title ">
                      <h6>Settings</h6>
                    </div>
                 </div>
            </div>
            <form>
                 <div class="row ">
                     <div class="col-sm-6 ">
                         <div class="form-group ">
                             <label class="control-label ">First Name <span class="required ">*</span></label>
                            <input class="form-control border-form-control " value=" " placeholder="Sagnik " type="text ">
                         </div>
                       </div>
                      <div class="col-sm-6 ">
                         <div class="form-group ">
                             <label class="control-label ">Last Name <span class="required ">*</span></label>
                            <input class="form-control border-form-control " value=" " placeholder="Mitra " type="text ">
                         </div>
                       </div>
                   </div>
                   <div class="row ">
                       <div class="col-sm-6 ">
                         <div class="form-group ">
                            <label class="control-label ">Phone <span class="required ">*</span></label>
                             <input class="form-control border-form-control " value=" " placeholder="123 456 7890 "
                           type="number ">
                     </div>
                       </div>
                        <div class="col-sm-6 ">
                           <div class="form-group ">
                              <label class="control-label ">Email Address <span class="required ">*</span></label>
                              <input class="form-control border-form-control " value=" " placeholder="example@gmail.com "
                                disabled=" " type="email ">
                         </div>
                     </div>
                  </div>
                   <div class="row ">
                           
                     <div class="col-sm-6 ">
                       <div class="form-group ">
                         <label class="control-label ">Alterante Phpne <span class="required ">*</span></label>
                        <input class="form-control border-form-control " value=" " placeholder="123 456 7890 "
                           type="number ">
                      </div>
                    </div>
                     <div class="col-sm-6 ">
                         <div class="form-group ">
                             <label class="control-label ">Alternate Email Address <span class="required ">*</span></label>
                              <input class="form-control border-form-control " value=" " placeholder="example@gmail.com "
                           disabled=" " type="email ">
                     </div>
                        </div>
                  </div>    
                 <div class="row ">     
                   <div class="col -sm-6 ">
                           <div class="form-group ">
                        <la     bel class="control-label ">Country <span class="required ">*</span></label>
                         <se    lect class="custom-select ">
                               <option value=" ">Select Country</option>
                              <option value="AF ">Afghanistan</option>
                              <option value="AX ">Åland Islands</option>
                               <option value="AL ">Albania</option>
                                <option value="DZ ">Algeria</option>
                            <op     tion value="AS ">American Samoa</option>
                            <op     tion value="AD ">Andorra</option>
                            <op     tion value="AO ">Angola</option>
                                <option value="AI ">Anguilla</option>
                                <option value="AQ ">Antarctica</option>
                              <op   tion value="AG ">Antigua and Barbuda</option>
                              <optio    n value="AR ">Argentina</option>
                            <op     tion value="AM ">Armenia</option>
                            <op     tion value="AW ">Aruba</option>
                            <optio      n value="A ">Australia</option>
                                <op tion value="AT ">Austria</option>
                                <op tion value="AZ ">Azerbaijan</option>
                                <optio  n value="BS ">Bahamas</option>
                               <op  tion value="BH ">Bahrain</option>
                                <option value="BD ">Bangladesh</option>
                               <option value="BB ">Barbados</option>
                              <option value="BY ">Belarus</option>
                              <option value="BE ">Belgium</option>
                               <option value="BZ ">Belize</option>
                                <option value="BJ ">Benin</option>
                               <op  tion value="BM ">Bermuda</option>
                               <op  tion value="BT ">Bhutan</option>
                               <op  tion value="BO ">Bolivia, Plurinational State of</option>
                                <option value="BQ ">Bonaire, Sint Eustatius and Saba</option>
                                <option value="BA ">Bosnia and Herzegovina</option>
                                <op tion value="BW ">Botswana</option>
                                <optio  n value="BV ">Bouvet Island</option>
                               <op  tion value="BR ">Brazil</option>
                               <op  tion value="IO ">British Indian Ocean Territory</option>
                               <optio   n value="B ">Brunei Darussalam</option>
                             <op    tion value="BG ">Bulgaria</option>
                             <op    tion value="BF ">Burkina Faso</option>
                             <optio     n value="BI ">Burundi</option>
                            <op     tion value="KH ">Cambodia</option>
                                <option value="CM ">Cameroon</option>
                               <option value="CA ">Canada</option>
                              <option value="CV ">Cape Verde</option>
                              <option value="KY ">Cayman Islands</option>
                               <option value="CF ">Central African Republic</option>
                                <option value="TD ">Chad</option>
                            <op     tion value="CL ">Chile</option>
                                 <option value="CN ">China</option>
                           <op      tion value="CX ">Christmas Island</option>
                                <option value="CC ">Cocos (Keeling) Islands</option>
                                <option value="CO ">Colombia</option>
                             <op    tion value="KM ">Comoros</option>
                             <optio     n value="CG ">Congo</option>
                            <op     tion value="CD ">Congo, the Democratic Republic of the</option>
                            <op     tion value="CK ">Cook Islands</option>
                                  <option value="C ">Costa Rica</option>
                                <op tion value="CI ">Côte d'Ivoire</option>
                                <op tion value="HR ">Croatia</option>
                                <optio  n value="CU ">Cuba</option>
                               <op  tion value="CW ">Curaçao</option>
                                <option value="CY ">Cyprus</option>
                               <option value="CZ ">Czech Republic</option>
                              <option value="DK ">Denmark</option>
                              <option value="DJ ">Djibouti</option>
                               <option value="DM ">Dominica</option>
                                <option value="DO ">Dominican Republic</option>
                              <op   tion value="EC ">Ecuador</option>
                              <op   tion value="EG ">Egypt</option>
                              <op   tion value="SV ">El Salvador</option>
                                <option value="GQ ">Equatorial Guinea</option>
                                <option value="ER ">Eritrea</option>
                                <op tion value="EE ">Estonia</option>
                                <optio  n value="ET ">Ethiopia</option>
                               <op  tion value="FK ">Falkland Islands (Malvinas)</option>
                               <op  tion value="FO ">Faroe Islands</option>
                               <optio   n value="F ">Fiji</option>
                             <op    tion value="FI ">Finland</option>
                             <op    tion value="FR ">France</option>
                             <optio     n value="GF ">French Guiana</option>
                            <op     tion value="PF ">French Polynesia</option>
                                <option value="TF ">French Southern Territories</option>
                               <option value="GA ">Gabon</option>
                              <option value="GM ">Gambia</option>
                              <option value="GE ">Georgia</option>
                               <option value="DE ">Germany</option>
                                <option value="GH ">Ghana</option>
                                 <option value="GI ">Gibraltar</option>
                           <op      tion value="GR ">Greece</option>
                                 <option value="GL ">Greenland</option>
                                <option value="GD ">Grenada</option>
                                <option value="GP ">Guadeloupe</option>
                             <op    tion value="GU ">Guam</option>
                             <optio     n value="GT ">Guatemala</option>
                            <op     tion value="GG ">Guernsey</option>
                            <op     tion value="GN ">Guinea</option>
                            <optio      n value="G ">Guinea-Bissau</option>
                                <op tion value="GY ">Guyana</option>
                                <op tion value="HT ">Haiti</option>
                               <optio   n value="HM ">Heard Island and McDonald Islands</option>
                              <op   tion value="VA ">Holy See (Vatican City State)</option>
                                <option value="HN ">Honduras</option>
                               <option value="HK ">Hong Kong</option>
                              <option value="HU ">Hungary</option>
                              <option value="IS ">Iceland</option>
                               <option value="IN ">India</option>
                                <option value="ID ">Indonesia</option>
                              <op   tion value="IR ">Iran, Islamic Republic of</option>
                              <op   tion value="IQ ">Iraq</option>
                              <op   tion value="IE ">Ireland</option>
                                <option value="IM ">Isle of Man</option>
                                <option value="IL ">Israel</option>
                                <op tion value="IT ">Italy</option>
                                <optio  n value="JM ">Jamaica</option>
                               <op  tion value="JP ">Japan</option>
                               <op  tion value="JE ">Jersey</option>
                               <optio   n value="O ">Jordan</option>
                            <op     tion value="KZ ">Kazakhstan</option>
                            <op     tion value="KE ">Kenya</option>
                            <optio      n value="KI ">Kiribati</option>
                                 <option value="KP ">Korea, Democratic People's Republic of</option>
                                <option value="KR ">Korea, Republic of</option>
                               <option value="KW ">Kuwait</option>
                              <option value="KG ">Kyrgyzstan</option>
                              <option value="LA ">Lao People's Democratic Republic</option>
                               <option value="LV ">Latvia</option>
                                <option value="LB ">Lebanon</option>
                           <op      tion value="LS ">Lesotho</option>
                                 <option value="LR ">Liberia</option>
                           <op      tion value="LY ">Libya</option>
                                <option value="LI ">Liechtenstein</option>
                                <option value="LT ">Lithuania</option>
                             <op    tion value="LU ">Luxembourg</option>
                             <optio     n value="MO ">Macao</option>
                                 <option value="MK ">Macedonia, the former Yugoslav Republic of</option>
                           <op      tion value="MG ">Madagascar</option>
                                 <optio n value="M ">Malawi</option>
                               <op  tion value="MY ">Malaysia</option>
                               <op  tion value="MV ">Maldives</option>
                               <optio   n value="ML ">Mali</option>
                              <op   tion value="MT ">Malta</option>
                                <option value="MH ">Marshall Islands</option>
                               <option value="MQ ">Martinique</option>
                              <option value="MR ">Mauritania</option>
                              <option value="MU ">Mauritius</option>
                               <option value="YT ">Mayotte</option>
                                <option value="MX ">Mexico</option>
                              <op   tion value="FM ">Micronesia, Federated States of</option>
                              <op   tion value="MD ">Moldova, Republic of</option>
                              <op   tion value="MC ">Monaco</option>
                                <option value="MN ">Mongolia</option>
                                <option value="ME ">Montenegro</option>
                               <op  tion value="MS ">Montserrat</option>
                               <optio   n value="MA ">Morocco</option>
                              <op   tion value="MZ ">Mozambique</option>
                              <op   tion value="MM ">Myanmar</option>
                              <optio    n value="A ">Namibia</option>
                            <op     tion value="NR ">Nauru</option>
                            <op     tion value="NP ">Nepal</option>
                                  <option value="NL ">Netherlands</option>
                           <op      tion value="NC ">New Caledonia</option>
                                <option value="NZ ">New Zealand</option>
                               <option value="NI ">Nicaragua</option>
                              <option value="NE ">Niger</option>
                              <option value="NG ">Nigeria</option>
                               <option value="NU ">Niue</option>
                                <option value="NF ">Norfolk Island</option>
                                 <option value="MP ">Northern Mariana Islands</option>
                           <op      tion value="NO ">Norway</option>
                                <op tion value="OM ">Oman</option>
                                <option value="PK ">Pakistan</option>
                                <option value="PW ">Palau</option>
                            <op     tion value="PS ">Palestinian Territory, Occupied</option>
                                  <option value="PA ">Panama</option>
                           <op      tion value="PG ">Papua New Guinea</option>
                                 <option value="PY ">Paraguay</option>
                           <optio       n value="E ">Peru</option>
                               <op  tion value="PH ">Philippines</option>
                               <op  tion value="PN ">Pitcairn</option>
                               <optio   n value="PL ">Poland</option>
                              <op   tion value="PT ">Portugal</option>
                                <option value="PR ">Puerto Rico</option>
                               <option value="QA ">Qatar</option>
                              <option value="RE ">Réunion</option>
                              <option value="RO ">Romania</option>
                               <option value="RU ">Russian Federation</option>
                                <option value="RW ">Rwanda</option>
                             <op    tion value="BL ">Saint Barthélemy</option>
                             <op    tion value="SH ">Saint Helena, Ascension and Tristan da Cunha</option>
                             <op    tion value="KN ">Saint Kitts and Nevis</option>
                                <option value="LC ">Saint Lucia</option>
                                <option value="MF ">Saint Martin (French part)</option>
                               <op  tion value="PM ">Saint Pierre and Miquelon</option>
                               <optio   n value="VC ">Saint Vincent and the Grenadines</option>
                              <op   tion value="WS ">Samoa</option>
                              <op   tion value="SM ">San Marino</option>
                              <optio    n value="T ">Sao Tome and Principe</option>
                            <op     tion value="SA ">Saudi Arabia</option>
                            <op     tion value="SN ">Senegal</option>
                            <optio      n value="RS ">Serbia</option>
                                 <option value="SC ">Seychelles</option>
                                <option value="SL ">Sierra Leone</option>
                               <option value="SG ">Singapore</option>
                              <option value="SX ">Sint Maarten (Dutch part)</option>
                              <option value="SK ">Slovakia</option>
                               <option value="SI ">Slovenia</option>
                                <option value="SB ">Solomon Islands</option>
                                <op tion value="SO ">Somalia</option>
                                <op tion value="ZA ">South Africa</option>
                                <op tion value="GS ">South Georgia and the South Sandwich Islands</option>
                                <option value="SS ">South Sudan</option>
                                <option value="ES ">Spain</option>
                            <op     tion value="LK ">Sri Lanka</option>
                            <optio      n value="SD ">Sudan</option>
                                 <option value="SR ">Suriname</option>
                           <op      tion value="SJ ">Svalbard and Jan Mayen</option>
                                 <optio n value="S ">Swaziland</option>
                               <op  tion value="SE ">Sweden</option>
                               <op  tion value="CH ">Switzerland</option>
                               <optio   n value="SY ">Syrian Arab Republic</option>
                             <op    tion value="TW ">Taiwan, Province of China</option>
                                <option value="TJ ">Tajikistan</option>
                               <option value="TZ ">Tanzania, United Republic of</option>
                              <option value="TH ">Thailand</option>
                              <option value="TL ">Timor-Leste</option>
                               <option value="TG ">Togo</option>
                                <option value="TK ">Tokelau</option>
                             <op    tion value="TO ">Tonga</option>
                             <op    tion value="TT ">Trinidad and Tobago</option>
                             <op    tion value="TN ">Tunisia</option>
                                <option value="TR ">Turkey</option>
                                <option value="TM ">Turkmenistan</option>
                               <op  tion value="TC ">Turks and Caicos Islands</option>
                               <optio   n value="TV ">Tuvalu</option>
                              <op   tion value="UG ">Uganda</option>
                              <op   tion value="UA ">Ukraine</option>
                              <optio    n value="A ">United Arab Emirates</option>
                                 <option value="GB ">United Kingdom</option>
                           <op      tion value="US ">United States</option>
                                 <optio n value="UM ">United States Minor Outlying Islands</option>
                                <op tion value="UY ">Uruguay</option>
                                <option value="UZ ">Uzbekistan</option>
                               <option value="VU ">Vanuatu</option>
                              <option value="VE ">Venezuela, Bolivarian Republic of</option>
                             <option value="VN ">Viet Nam</option>
                             <option value="VG ">Virgin Islands, British</option>
                              <option value="VI ">Virgin Islands, U.S.</option>
                               <option value="WF ">Wallis and Futuna</option>
                                <option value="EH ">Western Sahara</option>
                               <option value="YE ">Yemen</option>
                               <option value="ZM ">Zambia</option>
                               <option value="ZW ">Zimbabwe</option>
                            </select>
                        </d iv>
                       </div>
                  <div c    lass="col-sm-6 ">
                        <div class="form-group ">
                          <label class="control-label ">City <span class="required ">*</span></label>
                         <select class="custom-select ">
                           <option value=" ">Select City</option>
                           <option value="KOL ">Kolkata</option>
                           <option value="BWN ">Barddhman</option>
                           <option value="DGP ">Durgapur</option>
                            <option value="ASN ">Asansol</option>
                             <option value="BKP ">Barrackpore</option>
                              <option value="MSD ">Murshidabad</option>
                               <option value="BHM ">Baharampur</option>
                                <option value="SIL ">Siliguri</option>
                           <option value="COA ">Coochbihar</option>
                                <option value="DAR ">Darjeeling</option>
                              <!-- <option value="DGP ">Oregon</option>
                                 <option value="ASN ">Toronto</option>
                                  <option value="KOL ">Alaska</option>
                                   <option value="BWN ">New Hampshire</option>
                                   <option value="DGP ">Oregon</option>
                                  <option value="ASN ">Toronto</option> -->
                           </select>
                       </div>
                   </div>
               </div>
              <div class="row ">
                 <div class="col-sm-6 ">
                   <div class="form-group ">
                      <label class="control-label ">Zip Code <span class="required ">*</span></label>
                      <input class="form-control border-form-control " value=" " placeholder="123456 " type="number ">
                   </div>
                    </div>
                <div class="col-sm-6 ">
                   <div class="form-group ">
                      <label class="control-label ">State <span class="required ">*</span></label>
                       <select class="custom-select ">
                           <option value=" ">Select State</option>
                            <option value="Andhra Pradesh ">Andhra Pradesh</option>
                             <option value="Andaman and Nicobar Islands ">Andaman and Nicobar Islands</option>
                             <option value="Arunachal Pradesh ">Arunachal Pradesh</option>
                           <option value="Assam ">Assam</option>
                           <option value="Bihar ">Bihar</option>
                            <option value="Chandigarh ">Chandigarh</option>
                            <option value="Chhattisgarh ">Chhattisgarh</option>
                            <option value="Dadar and Nagar Haveli ">Dadar and Nagar Haveli</option>
                             <option value="Daman and Diu ">Daman and Diu</option>
                             <option value="Delhi ">Delhi</option>
                            <option value="Lakshadweep ">Lakshadweep</option>
                           <option value="Puducherry ">Puducherry</option>
                          <option value="Goa ">Goa</option>
                         <option value="Gujarat ">Gujarat</option>
                         <option value="Haryana ">Haryana</option>
                         <option value="Himachal Pradesh ">Himachal Pradesh</option>
                         <option value="Jammu and Kashmir ">Jammu and Kashmir</option>
                         <option value="Jharkhand ">Jharkhand</option>
                         <option value="Karnataka ">Karnataka</option>
                         <option value="Kerala ">Kerala</option>
                         <option value="Madhya Pradesh ">Madhya Pradesh</option>
                         <option value="Maharashtra ">Maharashtra</option>
                         <option value="Manipur ">Manipur</option>
       
                 <option value="Meghalaya ">Meghalaya</option>
                           <option value="Mizoram ">Mizoram</option>
                           <option value="Nagaland ">Nagaland</option>
                           <option value="Odisha ">Odisha</option>
                           <option value="Punjab ">Punjab</option>
                           <option value="Rajasthan ">Rajasthan</option>
                           <option value="Sikkim ">Sikkim</option>
                           <option value="Tamil Nadu ">Tamil Nadu</option>
                           <option value="Telangana ">Telangana</option>
                           <option value="Tripura ">Tripura</option>
                           <option value="Uttar Pradesh ">Uttar Pradesh</option>
                           <option value="Uttarakhand ">Uttarakhand</option>
                           <option value="West Bengal ">West Bengal</option>
                        </select>
                     </div>
                  </div>
               </div>
               <div class="row ">
                  <div class="col-sm-12 ">
                     <div class="form-group ">
                        <label class="control-label ">Address <span class="required ">*</span></label>
                        <textarea class="form-control border-form-control "></textarea>
                     </div>
                  </div>
               </div>
               <div class="row ">
                  <div class="col-sm-12 text-right ">
                     <button type="button " class="btn btn-danger border-none "> Cancel </button> &nbsp;
                     <button type="button " class="btn btn-success border-none "> Save Changes </button>
                  </div>
               </div>
            </form>
         </div>
         <!-- /.container-fluid -->
         <!-- Sticky Footer -->
         <footer class="sticky-footer ">
            <div class="container ">
               <div class="row no-gutters ">
                  <div class="col-lg-6 col-sm-6 ">
                     <p class="mt-1 mb-0 ">&copy; Copyright 2020 <strong class="text-dark ">Team Artissance</strong>. All Rights Reserved<br>
                        <small class="mt-0 mb-0 ">Made with <i class="fas fa-heart text-danger "></i> by <a class="text-primary " target="_blank " href="https://teamartissance.github.io/ ">Artissance</a>
                   </small>
                    </p>
                  </div>
                  <div class="col-lg-6 col-sm-6 text-right ">
                     <div class=" ">
                        <a href="# "><img alt=" " src="img/logo.png "></a>
                     </div>
                  </div>
               </div>
            </div>
         </footer>
      </div>
      <!-- /.content-wrapper -->
   </div>
   <!-- /#wrapper -->
   <!-- Scroll to Top Button-->
   <a class="scroll-to-top rounded " href="#page-top ">
      <i class="fas fa-angle-up "></i>
   </a>
   <!-- Logout Modal-->
   <div class="modal fade " id="logoutModal " tabindex="-1 " role="dialog " aria-labelledby="exampleModalLabel "
      aria-hidden="true ">
      <div class="modal-dialog modal-sm modal-dialog-centered " role="document ">
         <div class="modal-content ">
            <div class="modal-header ">
               <h5 class="modal-title " id="exampleModalLabel ">Ready to Leave?</h5>
               <button class="close " type="button " data-dismiss="modal " aria-label="Close ">
                  <span aria-hidden="true ">×</span>
               </button>
            </div>
            <div class="modal-body ">Select "Logout " below if you are ready to end your current session.</div>
            <div class="modal-footer ">
               <button class="btn btn-secondary " type="button " data-dismiss="modal ">Cancel</button>
               <a class="btn btn-primary " href="login/index.html ">Logout</a>
            </div>
         </div>
      </div>
   </div>
   <!-- Bootstrap core JavaScript-->
   <script src="vendor/jquery/jquery.min.js "></script>
   <script src="vendor/bootstrap/js/bootstrap.bundle.min.js "></script>
   <!-- Core plugin JavaScript-->
   <script src="vendor/jquery-easing/jquery.easing.min.js "></script>
   <!-- Owl Carousel -->
   <script src="vendor/owl-carousel/owl.carousel.js "></script>
   <!-- Custom scripts for all pages-->
   <script src="js/custom.js "></script>
</body>

</html>